services:
  postgres:
    image: postgres:16-alpine
    container_name: company_management_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: company_management
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -U postgres -d company_management']
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
