// Carta markdown editor custom styles
.carta-theme__smart {
  --border-color: #b9b9b9;
  --selection-color: #b5f0ff3d;
  --focus-outline: #76bbf3;
  --hover-color: #e9e9e9;
  --caret-color: #161616;
  --text-color: #1a1a1a;

  --border-color-dark: #4d4d4c;
  --selection-color-dark: #b5f0ff3d;
  --focus-outline-dark: #76bbf3;
  --hover-color-dark: #4d4d4c;
  --caret-color-dark: #ffffff;
  --text-color-dark: #f1f1f1;

  &.carta-editor {
    border: 1px solid var(--border-color);
    border-radius: 4px;
  }

  .carta-editor ::selection {
    background: var(--selection-color);
  }

  // Box sizings
  .carta-toolbar {
    border-bottom: 1px solid var(--border-color);
    padding: 0 12px;
  }

  .carta-wrapper {
    padding: 0 1rem;
  }

  .carta-container > * {
    margin: 1rem 0;
  }

  // Text settings
  .carta-input {
    caret-color: var(--caret-color);
    font-size: 0.95rem;

    ::placeholder {
      color: var(--text-color);
    }
  }

  // Splitter
  .mode-split {
    &.carta-container::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 1px;
      background: var(--border-color);
    }

    .carta-input {
      padding-right: 1rem;
    }

    .carta-renderer {
      padding-left: 1rem;
    }
  }

  // Toolbar
  .carta-toolbar-left {
    display: flex;
    align-items: flex-end;

    button {
      background: none;
      border: none;
      font-size: 0.9rem;
      padding-bottom: 4px;
      border-bottom: 2px solid transparent;
      margin-right: 12px;
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }

      &.carta-active {
        font-weight: 600;
        border-bottom: 2px solid var(--hover-color);
      }
    }
  }

  button {
    color: var(--text-color);
  }

  // Markdown input and renderer
  .carta-input,
  .carta-renderer {
    //height: 600px;
    //overflow-y: scroll;
  }

  // Icons
  .carta-icon,
  .carta-icon-full {
    border: 0;
    background: transparent;

    &:hover {
      background: var(--hover-color);
    }
  }

  .carta-icon-full {
    padding: 6px 4px;

    span {
      margin-left: 6px;
    }
  }

  .carta-icons-menu {
    padding: 6px;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    min-width: 180px;

    .carta-icon-full {
      margin-top: 2px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}

// This rule was outside the theme scope in the original
.carta-input > pre {
  background: inherit;
}
